<div class="page-header">
  <h1>Product Catalog</h1>
</div>

<% @product_list.each do |product| %>
  <div class="row">
    <div class="col-md-3">
      <a href="/products/show"><img width="250" src="<%= product.image_url %>"></a>
    </div>
    <div class="col-md-9">
      <h2><a href="/products/show"><%= product.name %></a></h2>
    </div>
  </div>
<% end %>
